<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #2a2a2a;
        color: #fff;
        font-size: 15px;
        padding: 30px 0;
    }
</style>

<div class="container">
    <img src="https://bit.ly/3wRlt2x"/>
    <p>Olá, <strong>{{name}}</strong></p>
    <p>Você realizou uma solicitação para alterar a sua senha, clique nesse link: 
        <strong><a href="{{link}}">Alterar senha</a></strong>
    </p>
    <strong>Obrigado !</strong>

    <h3>Equipe | <strong>Mind</strong></h3>
</div>
